.background{
    background-color: rgb(0, 98, 255);
    border: 5px solid dotted;
    margin-top: 100px;
    margin-left: 50px;
    // margin-bottom: 150px;
    width: 94%;
    // height: auto;
}
.custom{
    height: 300px;
}
// .bg{
//    background-color: red; 
//    margin-top: 50px;
//    margin-left: 44px;
//    margin-bottom: 15px;
//    width: 94%;
// }